<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>

    <h2 th:text="${title}"></h2>

</head>
<body>

<ul th:each="conference: ${conferences}">
    <li><a th:href="@{/conference/} + ${conference.id}" th:text="${conference.conferenceName}"></a></li>
</ul>


<div class="w3-container">
    <table class="w3-table w3-border">
        <tr>
            <th>Conference ID</th>
            <th>Conference Name</th>
            <th>Conference Date</th>
        </tr>
        <tr>
            <td >la</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
    </table>
</div>


</body>
</html>